import ctypes
import datetime
import json
import sys
import webbrowser
from datetime import date
import pyjokes
import pyttsx3 as p
import pywhatkit
import speech_recognition as sr
import wikipedia
import csv


engine = p.init()
engine.setProperty("rate", 200)
voices = engine.getProperty("voices")
g = int(input("pls enter 0 for male 1 for female: "))
engine.setProperty('voice', voices[g].id)
recognizer = sr.Recognizer()
def signal_handler(signal, frame):
    print('You pressed Ctrl+C!')
    sys.exit(0)
def engine_talk(text):
    engine.say(text)
    engine.runAndWait()

def run_lolly():
    with sr.Microphone() as source:
        recognizer.adjust_for_ambient_noise(source, duration=1)
        print('\n')
        print("Start speak my friend")
        engine_talk("Start speak my friend")
        recordedaudio = recognizer.listen(source, phrase_time_limit=5)
    try:
        command = recognizer.recognize_google(recordedaudio, language='en-in')
        command = command.lower()
        if 'lolly' in command:
            command = command.replace('lolly', '')
            print('you said' + command)
        else:
            print('you said : ' + command)
        if 'hello' in command:
            print('hello how can i help you ??')
            engine_talk('hello, how can i help you ??')
        elif 'who are you' in command:
            print('I am lolly your virtual assistant. how can i help you ??')
            engine_talk('I am lolly your virtual assistant. how can i help you ??')
        elif 'how are you' in command:
            engine_talk("I am fine, Thank you")
            engine_talk("How are you")
        elif 'lock window' in command:
            engine_talk("locking the device")
            ctypes.windll.user32.LockWorkStation()
        elif 'fine' in command or "good" in command:
            engine_talk("It's good to know that your fine")

        elif "what's your name" in command or "What is your name" in command:
            engine_talk("My friends call me lolly")
        elif 'change background' in command:
            ctypes.windll.user32.SystemParametersInfoW(20,
                                                       0,
                                                       "C:/Users/LENOVO/Downloads/valo",
                                                       0)
            engine_talk("Background changed successfully")

        elif 'can you do' in command:
            print('''i can play songs on youtube , tell you a joke, search on wikipedia, tell date and time,find your location, locate area on map,
                 open different websites like instagram, youtube,gmail, git hub, stack overflow and searches on google.How may i help you ??''')
            engine_talk('''i can play songs on youtube , tell you a joke, search on wikipedia, tell date and time,find your location, locate area on map,
                 open different websites like insta gram, youtube,gmail, git hub, stack overflow and searches on google. How may i help you ??''')
        elif 'play' in command:
            song = command.replace('play', '')
            print('Playing' + song)
            engine_talk('Playing' + song)
            pywhatkit.playonyt(song)
        elif 'date and time' in command:
            today = date.today()
            time = datetime.datetime.now().strftime('%I:%M %p')
            d2 = today.strftime("%B %d, %Y")
            print("Today's Date is ", d2, 'Current time is', time)
            engine_talk('Today is : ' + d2)
            engine_talk('and current time is ' + time)
        elif 'time and date' in command:
            today = date.today()
            time = datetime.datetime.now().strftime('%I:%M %p')
            d2 = today.strftime("%B %d, %Y")
            print("Today's Date is ", d2, 'Current time is', time)
            engine_talk('Current time is ' + time)
            engine_talk('and Today is : ' + d2)
        elif 'time' in command:
            time = datetime.datetime.now().strftime('%I:%M %p')
            print('The current time is' + time)
            engine_talk('The current time is')
            engine_talk(time)
        elif 'date' in command:
            today = date.today()
            print("Today's date:", today)
            d2 = today.strftime("%B %d, %Y")
            print("Today's Date is ", d2)
            engine_talk("The today's date is")
            engine_talk(d2)
        elif 'tell me about' in command:
            name = command.replace('tell me about', '')
            info = wikipedia.summary(name, 3)
            print(info)
            engine_talk(info)
        elif 'wikipedia' in command:
            name = command.replace('wikipedia', '')
            info = wikipedia.summary(name, 3)
            print(info)
            engine_talk(info)
        elif 'who is ' in command:
            name = command.replace('who is', '')
            info = wikipedia.summary(name, 1)
            print(info)
            engine_talk(info)
        elif 'what is ' in command:
            search = 'https://www.google.com/search?q=' + command
            print(' Here is what i found on the internet..')
            engine_talk('searching... Here is what i found on the internet..')
            webbrowser.open(search)
        elif 'joke' in command:
            _joke = pyjokes.get_joke()
            print(_joke)
            engine_talk(_joke)
        elif 'search' in command:
            search = 'https://www.google.com/search?q=' + command
            engine_talk('searching... ')
            webbrowser.open(search)
        elif "my location" in command:
            url = "https://www.google.com/maps/search/Where+am+I+?/"
            webbrowser.get().open(url)
            engine_talk("You must be somewhere near here, as per Google maps")
        elif 'locate ' in command:
            engine_talk('locating ...')
            loc = command.replace('locate', '')
        elif 'on map' in command:
            loc = command.replace('on map', ' ')
            url = 'https://google.nl/maps/place/' + loc + '/&amp;'
            webbrowser.get().open(url)
            print('Here is the location of ' + loc)
            engine_talk('Here is the location of ' + loc)
        elif 'on map' in command:
            engine_talk('locating ...')
            loc = command.split(" ")
            print(loc[1])
            url = 'https://google.nl/maps/place/' + loc[1] + '/&amp;'
            webbrowser.get().open(url)
            print('Here is the location of ' + loc[1])
            engine_talk('Here is the location of ' + loc[1])
        elif 'location of' in command:
            engine_talk('locating ...')
            loc = command.replace('find location of', '')
            url = 'https://google.nl/maps/place/' + loc + '/&amp;'
            webbrowser.get().open(url)
            print('Here is the location of ' + loc)
            engine_talk('Here is the location of ' + loc)
        elif 'where is ' in command:
            engine_talk('locating ...')
            loc = command.replace('where is', '')
            url = 'https://google.nl/maps/place/' + loc + '/&amp;'
            webbrowser.get().open(url)
            print('Here is the location of ' + loc)
            engine_talk('Here is the location of ' + loc)
        elif 'open google' in command:
            print('opening google ...')
            engine_talk('opening google..')
            webbrowser.open_new('https://www.google.co.in/')
        elif 'gmail' in command:
            print('opening gmail ...')
            engine_talk('opening gmail..')
            webbrowser.open_new('https://mail.google.com/')
        elif 'open youtube' in command:
            print('opening you tube ...')
            engine_talk('opening you tube..')
            webbrowser.open_new('https://www.youtube.com/')
        elif 'open instagram' in command:
            print('opening instagram ...')
            engine_talk('opening insta gram...')
            webbrowser.open_new('https://www.instagram.com/')
        elif 'who is your friend' in command:
            print("my friends are haya and muhanned")
            engine_talk('my friends are haya and muhanned')
        elif 'open stack overflow' in command:
            print('opening stackoverflow ...')
            engine_talk('opening stack overflow...')
            webbrowser.open_new('https://stackoverflow.com/')
        elif 'open github' in command:
            print('opening git hub ...')
            engine_talk('opening git hub...')
            webbrowser.open_new('https://github.com/')
        elif 'open file' in command:
            data = open(r"C:/Users/LENOVO/Downloads/x.csv")
            data = csv.reader(data)
            print(data)
        elif 'news' in command:
            try:
                search = ('https://www.egypttoday.com/Section/News/1') + command
                data = json.load(search)
                webbrowser.open(search)
                i = 1
                engine_talk('here are some top news')
                for item in data['articles']:
                    print(str(i) + '. ' + item['title'] + '\n')
                    print(item['description'] + '\n')
                    engine_talk(str(i) + '. ' + item['title'] + '\n')
                    i += 1
            except Exception as e:
                print(str(e))
        elif 'bye' in command:
            print('good bye, have a nice day !!')
            engine_talk('good bye, have a nice day !!')
            sys.exit("Exit")
        elif 'thank you' in command:
            print("your welcome")
            engine_talk('your welcome')
            sys.exit("Exit")
        elif 'stop' in command:
            print('good bye, have a nice day !!')
            engine_talk('good bye, have a nice day !!')
            sys.exit()
        elif 'close' in command:
            print('good bye, have a nice day !!')
            engine_talk('good bye, have a nice day !!')
            sys.exit()
        elif 'exit' in command:
            print('good bye, have a nice day !!')
            engine_talk('good bye, have a nice day !!')
            sys.exit()
        else:
            print(' Here is what i found on the internet..')
            engine_talk('Here is what i found on the internet..')
            search = 'https://www.google.com/search?q=' + command
            webbrowser.open(search)

    except Exception as ex:
        print("not able Recognize your voice.")
        engine_talk("not able  Recognize your voice.")
    print('Clearing background noise.')
    engine_talk('Clearing background noise...Please wait')
    print('\n')
print("hello, i am lolly your voice assistant ,how can i help you ??")
engine_talk ("hello i am lolly your voice assistant today how can i help you ")

while True:
    run_lolly()








